body {
  background-color: #F5F5F5;
}

.btn 
{
	padding: 10px 20px;
	border-radius: 5px;
	border:#D4C31C;
	background-color: #4299D4;
	color: black;
	margin:10px 0;
	display: inline-block;
	transition: 0.3s;
}

.btn:hover 
{
	transform: scale(1.2);
}

h1 
{
	color: #1520D7;
	font-size: 50px !important;
	text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.info
{
	background-color: #141419;
	color: white;
	padding: 20px;
}