body {
  background-color: #F5F5F5;
}

.btn 
{
	padding: 10px 20px;
	border-radius: 5px;
	border:#D4C31C;
	background-color: #4299D4;
	color: black;
	margin:10px 0;
	display: inline-block;
	transition: 0.3s;
}

.btn:hover 
{
	transform: scale(1.2);
	letter-spacing: 3px;
	color: white;
}

h1 
{
	color: #1520D7;
	font-size: 50px !important;
	text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.info
{
	background-color: #141419;
	color: white;
	padding: 5px;
}

.info h2 
{
	font-size: 40px;
	margin: 0;
	text-align: center;
}

.infoContent 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.infoContent .block h3
{
	font-size: 25px;
	margin: 5px 0 10px 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	
}

.infoContent .block
{
	padding: 3px;
	width: 200px;
}

p 
{
	font-weight: 300;
}

.content 
{
	text-align: center;
}









